@media only screen and (max-width: 56.25em) {
  .heading--hero {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .nav {
    padding-inline: 1rem;
    font-size: 1rem;
  }

  .nav__mobile-sign-in-wrapper {
    margin-top: 0.5rem;
  }

  .section__hero {
    padding-inline: 1rem;
  }

  .heading--hero {
    font-size: 3rem;
    letter-spacing: -3px;
  }

  .directory__list {
    grid-template-columns: 1fr;
    padding-inline: 0.5rem;
  }
}

@media only screen and (min-width: 1011px) {
  .desktop-sign-in {
    display: flex;
  }

  .nav__mobile-sign-in-wrapper {
    display: none;
  }

  .footer__copyright-container {
    margin-top: 10rem;
    align-self: flex-end;
  }
}
