@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --color-primary: #4c5fd5;
  --color-secondary: #dadbf1;
  --color-black: #000;
  --color-white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.1;
  position: relative;
}

a:link,
a:visited {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
}

.nav {
  background-color: var(--color-black);
  padding: 1.6rem 5rem;
  color: var(--color-white);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
}

.nav__logo {
  max-width: 1.8rem;
}

.nav__logo img {
  width: 100%;
  display: inline-block;
}

.nav__logo--link:hover,
.nav__logo:hover {
  filter: brightness(0.8);
}

/* .nav__logo--link a:link,
.nav__logo--link a:visited {
  transition: color 200ms ease;
}

.nav__logo--link a:hover,
.nav__logo--link a:active {
  color: var(--color-grey);
} */

.nav__help-center {
  display: inline-block;
  border-left: 2px solid var(--color-white);
  padding-left: 0.6rem;
}

.nav__help-center a:hover,
.nav__help-center a:active {
  text-decoration: underline;
}

/* Buttons */

.btn {
  padding: 0.75rem 1.5rem;
  font-size: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--color-white);
}

.btn--request {
  background-color: transparent;
  border: 1px solid var(--color-white);
}

.btn--sign-in {
  background-color: var(--color-primary);
  transition: all 250ms ease;
  margin-left: 0.25rem;
}

.btn--sign-in:hover,
.btn--sign-in:active {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn--help {
  background-color: var(--color-primary);
  border: none;
  border-radius: 100px;
  position: fixed;
  display: flex;
  font-weight: 700;
  gap: 0.75rem;
  bottom: 1rem;
  right: 1rem;
}

.btn--help::before {
  content: '';
  height: 1.2rem;
  width: 1.2rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  position: absolute;
  top: 0.65rem;
  left: 1.2rem;
}

/* Hero section */

.section__hero {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 5rem;
}

.hero__search-wrapper {
  margin: 5rem auto;
}

.heading--hero {
  font-size: 4rem;
  font-weight: 500;
}

.hero__form {
  max-width: 60rem;
  background-color: orangered;
}

.hero__form-input {
  width: 100%;
  display: block;
  font-size: inherit;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-black);
}
